

#refs {
  font-size: 0.5rem;   /* or 12px or any size you prefer */
  line-height: 1.4;
}




.col-outer {
  height: 80%;
  background-color: lightgray;
  padding-left: 10px;
  box-sizing: border-box;
}

.col-middle {
  height: 100%;
  background-color: lightgreen;
  padding-left: 10px;
  box-sizing: border-box;
}



